<?xml version="1.0" encoding="UTF-8" ?>
<!-- 全局配置文件:http://www.mybatis.org/mybatis-3/zh/getting-started.html -->
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--使用jdbc的getGeneratedKeys获取DB自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换别名,default:true
            select name as title from table
        -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转化 表:下划线规范 实体:驼峰规范-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>
